    <div id="navbar">
    
        <nav class="navbar navbar-default" role="navigation">
    
          <div class="container">
    
            <div class="navbar-header">
    
    
              <%= link_to "Cocoon", root_path, class: "navbar-brand" %>
    
            </div>
    
          </div><!-- /.container-fluid -->
    
        </nav>
    
    </div><!--  end navbar --> 

</div>          
<div class="whole-page">
<div class="wrapper">
  <div class="section section-white whole-page">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <div class="tim-title text-center">
                    <h2><b>Nearly done</b></h2>
                    <p class="text-muted">We've just sent you an email confirmation to email@exampleemail.com</p>
                    <br>
                    <p>Go ahead and confirm your email. Then you're all set to get going with Cocoon :)</p>
                  </div>
              </div>
          </div>

          
          <div class="row">
                        
                            <div class="col-md-12  col-sm-12">
                              <div class="form-group">
                                  <button type="submit" class="btn btn-simple btn-block btn-default">Not recieved your confirmation email?</button>
                              </div>
                            </div>
                            </div>
                          </div>


                          <br>
                           <br>
                            <br>
                             <br>
                          
          </div>
    </div>
  </div>
</div>
</form>


    </div