<!-- Start navigation -->
<div class="header-wrapper">
  <nav class="navbar navbar-ct-neutral" role="navigation-demo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="www.creative-tim.com">Cocoon</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navigation-example-2">
        <ul class="nav navbar-nav navbar-right">
              <a href="#" class="btn btn-simple btn-neutral hidden-xs">Login</a>
              <a href="#" class="btn btn-neutral hidden-xs">Sign up free</a>

            <li>
              <a href="#" class="btn btn-simple btn-neutral visible-xs">Login</a>
            </li>
            <li>
              <a href="#" class="btn btn-neutral visible-xs">Sign up free</a>
            </li>
         </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
  </nav>
      <div class="header" style="background-image: url('assets/.jpg');
">
          <div class="filter filter-danger"></div>
          <div class="container text-center">
                  <h2>Still managing your bakery with Excel?</h2>
                  <h4>What a headache...</h4>
                  <br>
                  <button href="#fakelink" class="btn btn-neutral btn-lg btn-fill">Sign up free</button>
          </div>
      </div>
</div>
<!-- end navigation -->
<div class="wrapper">
  <div class="section text-center section-white">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <br>
                  <h2>Let's talk about Cocoon</h2>
                  <br />
              </div>
          </div>
          <div class="row">
            <div class="col-md-4">
               <div class="info">
                    <div class="icon icon-danger">
                        <i class="ti-gallery"></i>
                    </div>
                    <div class="description">
                        <h4> Beautiful Gallery </h4>
                        <p>Spend your time generating new ideas. You don't have to think of implementing anymore.</p>
                    </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="info">
                    <div class="icon icon-danger">
                        <i class="ti-light-bulb"></i>
                    </div>
                    <div class="description">
                        <h4> New Ideas </h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                    </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="info">
                    <div class="icon icon-danger">
                        <i class="ti-pie-chart"></i>
                    </div>
                    <div class="description">
                        <h4> Statistics </h4>
                        <p>Choose from a veriety of colors resembling sugar paper pastels.</p>
                    </div>
               </div>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <img src="assets/image_placeholder.jpg" alt="Rounded Image" class="img-rounded img-responsive">
          </div>
          <br>
        </div>
        <br>
        <div class="row">
            </div>
            <div class="col-xs-6 col-xs-offset-3">
            <br>
              <h3>Try Cocoon for free</h3>
              <button href="#fakelink" class="btn btn-danger btn-lg btn-fill">Sign up</button>
              <br>
              <br>
            </div>
        </div>
      </div>
  </div>
</div>
<footer class="footer-demo section-white">
        <div class="container">
            <nav class="pull-left">
                <ul>
    
                    <li>
                        <a href="#">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                           Blog
                        </a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com/product/rubik">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                © 2016, made with <i class="fa fa-heart heart"></i> by Cocoon
            </div>
        </div>
    </footer>