<!-- Start navigation -->
<div class="hed">
</div>
<div class="header-wrapper">
      <div class="header" style="background-image: url('assets/laver2.jpg');
">
          <div class="filter filter-default"></div>
          <div class="container text-center">
                  <h2></h2>
                  <h3></h3>
                  <br>
                  
                  <i class="fa fa-angle-down fa-2x shake-vertical shake-constant" aria-hidden="true"></i>
                  
          </div>
      </div>
</div>
<!-- end navigation -->
<div class="wrapper">
  <div class="section text-center section-white">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <div class="tim-title">
                    <h2>Introducing Cocoon</h2>
                  </div>
              </div>
          </div>
          </br>
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                    <p>"I wanted software that would let me keep on top of my bakery. That me and my staff could easily use to track everything from orders to delivery schedules. Cocoon has solved so many headaches - I can now spend more time actually growing my bakery. Thank you Cocoon!"</p>
                    <p><b>Duncan Glendinning</b><p>
                    <a>www.thethoughtfulbreadcompany.com</a>
              </div>
          </div>
          <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <img src="assets/image_placeholder.jpg" alt="Rounded Image" class="img-rounded img-responsive">
          </div>
          <br>
        </div>