    <div id="navbar">
    
        <nav class="navbar navbar-default" role="navigation">
    
          <div class="container">
    
            <div class="navbar-header">
    
    
              <%= link_to "Cocoon", root_path, class: "navbar-brand" %>
    
            </div>
    
          </div><!-- /.container-fluid -->
    
        </nav>
    
    </div><!--  end navbar --> 

</div>          
<div class="whole-page">
<div class="wrapper">
  <div class="section section-nude whole-page">
  	<div class="container">
  	<span class="dropdown visible-xs visible-sm">
  <button href="#" class="dropdown-toggle btn btn-fill btn-move-right btn-block" data-toggle="dropdown">Add New <i class="ti-plus"></i></button>
<!--                                  You can add classes for different colours on the next element -->
<div class="row">
  <ul class="dropdown-menu dropdown-primary dropdown-menu-right">
    <li class="dropdown-header">Add New</li>
    <li><a href="#">Product</a></li>
    <li><a href="#">Dough</a></li>
    <li><a href="#">Levain</a></li>
    <li><a href="#">Soaker</a></li>
    <li><a href="#">Ingredient</a></li>
  </ul>
</span>
</div>
</br>
</br>
<div class="row">
<div class="container">
<select name="huge" class="selectpicker" data-style="btn-info btn-fill btn-block" data-menu-style="dropdown-blue">
    
        <option value="1">Products </option>
    
        <option value="1">Doughs </option>

        <option value="1">Levains </option>

        <option value="1">Soakers </option>

        <option value="1">Ingredients </option>
    
    </select>
  </div>
</div>
</span>

 
        <nav class="navbar navbar-default hidden-sm hidden-xs" role="navigation">
    
          <div class="container-fluid">
    
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
              <ul class="nav navbar-nav">
    
                <li><a href="#">Products</a></li>
                <li><a href="#">Doughs</a></li>
                <li><a href="#">Levains</a></li>
                <li><a href="#">Soakers</a></li>
                <li><a href="#">Ingredients</a></li>
    					</ul>

    					<ul class="nav navbar-nav navbar-right">
    
                <li class="dropdown">

                                      <button href="#" class="dropdown-toggle btn btn-fill btn-move-right" data-toggle="dropdown" aria-expanded="false">Add new <i class="ti-plus"></i></button>
<!--                                  You can add classes for different colours on the next element -->
                                      <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">Add new</li>
                                        <li><a href="#">Product</a></li>
                                        <li><a href="#">Dough</a></li>
                                        <li><a href="#">Levain</a></li>
                                        <li><a href="#">Soaker</a></li>
                                        <li><a href="#">Ingredient</a></li>
                                      </ul>
                                    </li>
    					</ul>
    
            </div><!-- /.navbar-collapse -->
    
          </div><!-- /.container-fluid -->
    
        </nav>
    
    </div><!--  end navbar --> 
    </br>


<div class="container">
	<div class="row">
		<div class="col-md-12">
		<h3>
		Products

		</h3>
		</br>

		<div class="table-responsive">
			<table class="table">
			    <thead>
			        <tr>
			            
			            <th>Name</th>
			            <th>Category</th>
			            <th>Total Sold</th>
			            
			            <th class="text-right"></th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			                                        
			            <td><a>Product Name</a></td>
			            <td>Sourdough</td>
			            <td>£1000</td>
			            
			            <td class="td-actions text-right">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>
			                                        
			            <td><a>Product Name</a></td>
			            <td>Sourdough</td>
			            <td>£1000</td>
			            
			            <td class="td-actions text-right">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>
			                                        
			            <td><a>Product Name</a></td>
			            <td>Sourdough</td>
			            <td>£1000</td>
			            
			            <td class="td-actions text-right">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>
			                                        
			            <td><a>Product Name</a></td>
			            <td>Sourdough</td>
			            <td>£1000</td>
			            
			            <td class="td-actions text-right">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>
			                                        
			            <td><a>Product Name</a></td>
			            <td>Sourdough</td>
			            <td>£1000</td>
			            
			            <td class="td-actions text-right">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>

			        <tr>
			                                        
			            <td><a>Product Name</a></td>
			            <td>Sourdough</td>
			            <td>£1000</td>
			            
			            <td class="td-actions text-right">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>
			                                        
			            <td><a>Product Name</a></td>
			            <td>Sourdough</td>
			            <td>£1000</td>
			            
			            <td class="td-actions text-right">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>
			                                        
			            <td><a>Product Name</a></td>
			            <td>Sourdough</td>
			            <td>£1000</td>
			            
			            <td class="td-actions text-right">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>
			                                        
			            <td><a>Product Name</a></td>
			            <td>Sourdough</td>
			            <td>£1000</td>
			            
			            <td class="td-actions text-right">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>
			                                        
			            <td><a>Product Name</a></td>
			            <td>Sourdough</td>
			            <td>£1000</td>
			            
			            <td class="td-actions text-right">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			    </tbody>
			</table>
</div>


	</div>
</div>
</br>

<div class="row text-center">

<ul class="pagination"> 
    
      <li><a href="#">&laquo;</a></li>
    
      <li class="active"><a href="#">1</a></li>
    
      <li><a href="#">2</a></li>
    
      <li><a href="#">3</a></li>
    
      <li><a href="#">4</a></li>
    
      <li><a href="#">5</a></li>
    
      <li><a href="#">&raquo;</a></li>
    
    </ul>





</div>


</div>








       	</div>
      </div>
    </div>
  </div>
</div>
</div>
          