    <div id="navbar">
    
        <nav class="navbar navbar-default" role="navigation">
    
          <div class="container">
    
            <div class="navbar-header">
    
    
              <%= link_to "Cocoon", root_path, class: "navbar-brand" %>
    
            </div>
    
          </div><!-- /.container-fluid -->
    
        </nav>
    
    </div><!--  end navbar --> 

</div>          
<div class="whole-page">
<div class="wrapper">
  <div class="section section-white whole-page">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h3>Customer's Details</h3>
        </div>
      </div>


        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <h6>First Name<span class="icon-danger">*</span></h6>
                    <input type="text" class="form-control border-input" placeholder="First Name">
                </div>

                <div class="form-group">
                    <h6>Last Name<span class="icon-danger">*</span></h6>
                    <input type="text" class="form-control border-input" placeholder="Last Name">
                </div>  

                <div class="form-group">
                    <h6>Company<span class="icon-danger">*</span></h6>
                    <input type="text" class="form-control border-input" placeholder="Lovely Cafe">
                </div>

                <div class="form-group">
                    <h6>Phone<span class="icon-danger">*</span></h6>
                    <input type="text" class="form-control border-input" placeholder="07791 005814">
                </div>  
            </div>
          </div>
        <hr>
        <div class="row">
        <div class="col-md-12">
          <h3>Customer's Address</h3>
        </div>
      </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <h6>Address Line 1<span class="icon-danger">*</span></h6>
                    <input type="text" class="form-control border-input" placeholder="3 shrewsbury road">
                </div>

                <div class="form-group">
                    <h6>Address Line 2</h6>
                    <input type="text" class="form-control border-input" placeholder="Chiswick">
                </div>

                <div class="form-group">
                    <h6>Town/City<span class="icon-danger">*</span></h6>
                    <input type="text" class="form-control border-input" placeholder="London">
                </div>

                <div class="form-group">
                    <h6>Postcode<span class="icon-danger">*</span></h6>
                    <input type="text" class="form-control border-input" placeholder="W6 7TN">
                </div>  

                <div class="form-group">
                    <h6>Country</h6>
                    <input type="text" class="form-control border-input" placeholder="UK">
                </div>

                <div class="form-group">
                    <h6>Region</h6>
                    <input type="text" class="form-control border-input" placeholder="London">
                </div>  
            </div>
        </div>
        <hr>
      <h3>Notes</h3>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <form role="form">
                  <textarea class="form-control border-input" placeholder="This is a textarea where you can store notes about this customer" rows="3"></textarea>
                  </form>
                </div>
            </div>
        </div>



<div class="container">
	<div class="row">
	<div class="col-md-12">
	<div class="pull-right">

	<button class="btn btn-default">Cancel</button>
	<button class="btn btn-default btn-fill">Save</button>
	</div>
	</div>

	</div>

</div>
    

   

		
          