    <div id="navbar">
    
        <nav class="navbar navbar-default" role="navigation">
    
          <div class="container">
    
            <div class="navbar-header">
    
    
              <%= link_to "Cocoon", root_path, class: "navbar-brand" %>
    
            </div>
    
          </div><!-- /.container-fluid -->
    
        </nav>
    
    </div><!--  end navbar --> 

</div>          
<div class="whole-page">
<div class="wrapper">
  <div class="section section-white whole-page">
<div class="container">
<div class="row">
<div class="container">


<select name="huge" class="selectpicker visible-sm visible-xs" data-style="btn-info btn-fill btn-block" data-menu-style="dropdown-blue">
<option disabled selected> Choose component</option>
    
        <option selected="1">Products </option>
    
        <option value="1">Doughs </option>

        <option value="1">Levains </option>

        <option value="1">Soakers </option>

        <option value="1">Ingredients </option>
    
    </select>
  </div>
  </br>
</div>
<div class="row">
<div class="container">
<span class="dropdown">
  <button href="#" class="dropdown-toggle btn btn-default btn-fill btn-move-right visible-xs visible-sm" data-toggle="dropdown">Add new <i class="ti-plus"></i></button>
<!--                                  You can add classes for different colours on the next element -->
  <ul class="dropdown-menu dropdown-default dropdown-menu-left">
    <li class="dropdown-header">Add New</li>
    <li><a href="#">Product </a></li>
    <li><a href="#">Dough </a></li>
    <li><a href="#">Levain </a></li>
    <li><a href="#">Soaker </a></li>
    <li><a href="#">Ingredient </a></li>
  </ul>
</span>
</div>
</span>
</div>

 
        <nav class="navbar navbar-default bill hidden-sm hidden-xs" role="navigation">
    
          <div class="container-fluid">
    
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
              <ul class="nav navbar-nav bill">
    
                <li><a href="#">Products</a></li>
                <li><a href="#">Doughs</a></li>
                <li><a href="#">Levains</a></li>
                <li><a href="#">Soakers</a></li>
                <li><a href="#">Ingredients</a></li>
    					</ul>

    					<ul class="nav navbar-nav navbar-right">
    
                <li class="dropdown">

                                      <button href="#" class="dropdown-toggle btn btn-fill btn-move-right" data-toggle="dropdown" aria-expanded="false">Add new <i class="ti-plus"></i></button>
<!--                                  You can add classes for different colours on the next element -->
                                      <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">Add new</li>
                                        <li><a href="#">Product</a></li>
                                        <li><a href="#">Dough</a></li>
                                        <li><a href="#">Levain</a></li>
                                        <li><a href="#">Soaker</a></li>
                                        <li><a href="#">Ingredient</a></li>
                                      </ul>
                                    </li>
    					</ul>
    
            </div><!-- /.navbar-collapse -->
    
          </div><!-- /.container-fluid -->
    
        </nav>
    
    </div><!--  end navbar --> 
    </br>


<div class="container">
	<div class="row">
		<div class="col-md-12">
		<h3>
		Preferments

		</h3>
		</br>

		<div class="table-responsive">
			<table class="table">
			    <thead>
			        <tr>
			            <th>Name</th>
			            <th>Category</th>
			            
			            <th></th>
			            
			            <th class="text-right"></th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>                     
			            <td><a>Preferment Name</a></td>
			            <td>Levain</td>
			            
			            
			            <td class="td-actions text-left">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm" data-toggle="modal" data-target="#myModal">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>                     
			            <td><a>Preferment Name</a></td>
			            <td>Levain</td>
			            
			            
			            <td class="td-actions text-left">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm" data-toggle="modal" data-target="#myModal">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>                     
			            <td><a>Preferment Name</a></td>
			            <td>Levain</td>
			            
			            
			            <td class="td-actions text-left">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm" data-toggle="modal" data-target="#myModal">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>                     
			            <td><a>Preferment Name</a></td>
			            <td>Levain</td>
			            
			            
			            <td class="td-actions text-left">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm" data-toggle="modal" data-target="#myModal">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			        <tr>                     
			            <td><a>Preferment Name</a></td>
			            <td>Levain</td>
			            
			            
			            <td class="td-actions text-left">
			                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-sm" data-toggle="modal" data-target="#myModal">
			                    <i class="fa fa-times"></i>
			                </button>
			            </td>
			        </tr>
			    </tbody>
			</table>
</div>


	</div>
</div>
</br>

<div class="row text-center">

<ul class="pagination"> 
    
      <li><a href="#">&laquo;</a></li>
    
      <li class="active"><a href="#">1</a></li>
    
      <li><a href="#">2</a></li>
    
      <li><a href="#">3</a></li>
    
      <li><a href="#">4</a></li>
    
      <li><a href="#">5</a></li>
    
      <li><a href="#">&raquo;</a></li>
    
    </ul>





</div>


</div>








       	</div>
      </div>
    </div>
  </div>
</div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <p class="text-center">Are you sure you want to delete this product?</p>
      </div>
      <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancel</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-danger btn-simple">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$('.btn-tooltip').tooltip();
</script>
          